@model CollectorDirector.ViewModels.AddCollectionItemViewModel
<script>
    function YesOwned(isChecked) {
        if (isChecked == 0)
            document.getElementById('Condition').style.display = 'block';
        else
            document.getElementById('Condition').style.display = 'none';
    }
    function NotOwned(isChecked) {
        if (isChecked == 0)
            document.getElementById('Priority').style.display = 'block';
        else
            document.getElementById('Priority').style.display = 'none';
    }
</script>
<h1>EditCollectionItem</h1>

<form asp-controller="Collection" asp-action="EditCollectionItem" method="post">

    <div class="form-group">
        <label asp-for="ItemName"></label>
        <input class="form-control" asp-for="ItemName" />
        <span asp-validation-for="ItemName"></span>
    </div>
    <div class="form-group">
        <label asp-for="IsOwned"></label>
        Yes<input type="radio" id="Yes" value="true" name="IsOwned" />
        No<input type="radio" id="No" value="false" name="IsOwned" />


        <span asp-validation-for="IsOwned"></span>
    </div>
    <div class="form-group">
        <label asp-for="Value"></label>
        <input class="form-control" asp-for="Value" />
        <span asp-validation-for="Value"></span>
    </div>
    <div class="form-group">
        <label asp-for="Condition"></label>
        <select name="Condition" id="Condition">
            <option value="Poor">Poor</option>
            <option value="Fair">Fair</option>
            <option value="Good">Good</option>
            <option value="Great">Great</option>
            <option value="Pristine">Pristine</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Priority"></label>
        <select name="Priority" id="Priority">
            <option value="VeryLow">Very Low</option>
            <option value="Low">Low</option>
            <option value="Medium">Medium</option>
            <option value="High">High</option>
            <option value="VeryHigh">Very High</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Rarity">Rarity</label>
        <select name="Rarity" id="Rarity">
            <option value="Common">Common</option>
            <option value="Uncommon">Uncommon</option>
            <option value="Rare">Rare</option>
            <option value="Very">Very Rare</option>
            <option value="Unicorn">Unicorn</option>
        </select>
        <span asp-validation-for="Rarity"></span>
    </div>
    <div class="form-group">
        <label asp-for="UserNote">Add a note for this item (optional)</label>
        <input class="form-control" asp-for="UserNote" />
        <span asp-validation-for="UserNote"></span>
    </div>
    <div hidden class="form-group">
        <label asp-for="CollectionID">This is the collection id</label>
        <input class="form-control" value="@Model.CollectionID" asp-for="CollectionID" />
        <span asp-validation-for="CollectionID"></span>
    </div>

    <input type="submit" value="Add Item" />
</form>
