@model CollectorDirector.ViewModels.CreateCollectionViewModel

<h1>Rename Collection</h1>

<form asp-controller="Home" asp-action="EditCollection" method="post">

    <div class="form-group">
        <label asp-for="CollectionName"></label>
        <input class="form-control" asp-for="CollectionName" />
        <span asp-validation-for="CollectionName"></span>
    </div>

    <input type="submit" value="Update" />

</form>